* {
    font-family: 'Microsoft YaHei'
  }

  a,
  a:hover {
    text-decoration: none !important;
  }

  .sidebar .active a {
    color: #42b983 !important;
  }

  .sidebar li>p>a {
    font-weight: 700;
    color: #364149;
    font-size: 15px;
    margin: 0;
  }

  td {
    min-width: 100px !important;
  }

  .markdown-section h2 {
    margin: 0 0 .8rem;
  }

  .markdown-section .tool-docs-header {
    position: absolute;
    top: 0;
    right: 0;
  }

  .markdown-section .tool-tip {
    display: inline-block;
    position: relative;
  }