<!DOCTYPE html>
<html>

<head>
  <stl:include file="/zz-include/header.html"></stl:include>
</head>

<body class="blog mp6 customizer-styles-applied highlander-enabled highlander-light infinite-scroll neverending">
  <div id="page" class="hfeed site">

    <stl:include file="/zz-include/site-navigation.html"></stl:include>

    <div id="page-name" class="page-masthead">
      <div class="name-area">
        <div class="container">
          <div class="row">
            <div class="col-10">
              <h1>
                <stl:channel type="Title"></stl:channel>
              </h1>
              <p class="lead" style="color: #fff">
                <stl:channel type="Description"></stl:channel>
              </p>
            </div>
            <div class="col-2" style="padding-top: 25px">
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalLong">
              STL 快速索引
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="main-container" class="site-content">

      <stl:include file="/zz-include/navbar.html"></stl:include>

      <stl:if testType="channelName" testOperate="NotEquals" testValue="起 步">
        <stl:yes>

          <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <stl:channels topLevel="1">
                  <stl:if testType="UpChannel">
                    <stl:yes>
                      <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:;" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">
                          <stl:channel type="Title"></stl:channel>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <stl:channels>

                            <stl:itemTemplate type="SelectedItem" selected="Current">
                              <stl:a class="dropdown-item active">
                                <stl:channel type="Title"></stl:channel>
                              </stl:a>
                            </stl:itemTemplate>

                            <stl:itemTemplate type="Item">
                              <stl:a class="dropdown-item">
                                <stl:channel type="Title"></stl:channel>
                              </stl:a>
                            </stl:itemTemplate>


                          </stl:channels>
                        </div>
                      </li>

                    </stl:yes>
                    <stl:no>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:;" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">
                          <stl:channel type="Title"></stl:channel>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <stl:channels>
                            <stl:a class="dropdown-item">
                              <stl:channel type="Title"></stl:channel>
                            </stl:a>
                          </stl:channels>
                        </div>
                      </li>
                    </stl:no>
                  </stl:if>
                </stl:channels>

              </ul>
            </div>
          </nav>
        </stl:yes>
      </stl:if>

      <div class="container">

        <stl:channels topLevel="1" cellPadding="10">

          <section>
            <h3>
              <stl:channel type="Title"></stl:channel>
            </h3>
            <hr>
            <div class="lead">
              <stl:channel type="Content" isClearTags="true"></stl:channel>
            </div>

            <br />

                              <table class="table table-striped table-bordered">
                    <tbody>
                      <tr class="info thead">
                        <th>STL</th>
                        <th>说明</th>
                      </tr>
                      <stl:channels>
                      <tr>
                        <td><stl:a></stl:a></td>
                        <td><stl:channel type="Description"></stl:channel></td>
                      </tr>
                      </stl:channels>
                    </tbody>
                  </table>
          </section>

        </stl:channels>

      </div>

    </div>
    <!-- #content -->

    <div class="footer-contain">
      <stl:include file="/zz-include/footer.html"></stl:include>
    </div>
  </div>
  <!-- #page -->

</body>

</html>